{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
    <div class="row">
        <h2>{{ 'app-new-therapy-scheme-page-title'|trans }}</h2>
    </div>
    {{ component('search-label') }}
</div>
{% endblock %}
